# client/node_modules
# server/node_modules
# server/.env

client/node_modules
server/node_modules
server/.env
client/.env
server/.gitignore
client/.gitignore
server/news-aggregator-338f2-firebase-adminsdk-fbsvc-f5ac03a0f7.json